<?xml version="1.0"?>
<robot name="block_oblong">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
      <material name="pink">
        <color rgba="1.0 0.0 0.0 0.5"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="10.0"/>
      <inertia ixx="0.00433" ixy="0.0" ixz="0.0" iyy="0.00433" iyz="0.0" izz="0.00125"/>
    </inertial>
  </link>
</robot>